<!DOCTYPE HTML>
<html>

   {{ partial "head.html" . }}
   <body>
      <div class="v-flex" id="main">
         {{ partial "sidebar.html" . }}

         <div id="content">
            <h1>{{ .Title }}</h1>


            <div class="items">
            {{ range .Pages }}
               <div class="item">
                  <div class="head">
                     {{ if .Params.icon }}
                     <img class="icon" src="{{ .Params.icon }}"/>
                     {{ end }}
                     <div class="title">
                        <h4><a href="{{ .Params.link }}">{{ .Title }}</a></h4>
                        <span class="tags">
                           {{ range .Params.tags }}
                           <a href="/tags/{{ . }}">{{ . }}</a>
                           {{ end }}
                        </span>
                     </div>
                  </div>
                  <p class="summary">{{ .Summary }}</p>
               </div>
            {{ end }}
            </div>
         </div>
      </div>

      <img id="gopher" src="/images/gopher.svg"/>
   </body>

</html>
