<!DOCTYPE HTML>
<html>

   {{ partial "head.html" . }}
   <body>
      <div class="v-flex" id="main">
         {{ partial "sidebar.html" . }}

         <div id="content">
         </div>
      </div>
   </body>

</html>
