<!DOCTYPE HTML>
<html>

   {{ partial "head.html" . }}

   <body>
      <div class="v-flex" id="main">
         {{ partial "sidebar.html" . }}

         <div id="content">
            <h2>{{ .Title }}</h2>
            {{ .Content }}
         </div>
      </div>
   </body>

</html>
