/* * { */
/*    padding: 0px; margin: 0px; */
/* } */

/* header { */
/*    background-color: #242429; */
/*    color: #eee; */
/* } */

/* header .padd { */
/*    display: flex; */
/*    align-items: center; */
/*    justify-content: space-between; */
/* } */

/* header .nav { */
/*    padding-top: 3em; */
/*    padding-bottom: 3em; */
/* } */

/* header .dir { */
/*    opacity: 0.7; */
/* } */

/* header .fork { */
/*    color: #FFF; */
/* } */

/* .padd { */
/*    width: auto; */
/*    max-width: 60em; */
/*    margin-left: auto; */
/*    margin-right: auto; */
/* } */

/* .hflex { */
/*    display: flex; */
/*    flex-direction: row; */
/* } */

/* .titlegroup { */
/*    display: flex; */
/*    justify-content: space-between; */
/*    align-items: center; */
/*    margin-bottom: 1em; */
/*    width: 100%; */
/*    flex-wrap: wrap; */
/* } */

/* .titlegroup a { */
/*    align-self: center; */
/*    padding: 0.2em; */
/* } */

/* .titlegroup a:hover { */
/*    background-color: #24242911; */
/* } */

/* .titlegroup .hflex * { */
/*    margin-left: 1em; */
/* } */

/* a { */
/*    color: #242429; */
/* } */

/* .vflex { */
/*    display: flex; */
/*    flex-direction: column; */
/* } */

/* .info { */
/*    justify-content: space-between; */
/*    align-items: center; */
/*    margin-bottom: 2em; */
/*    padding-bottom: 0em; */
/*    color: #242429; */
/* } */

/* .content { */
/*    overflow: hidden; */
/*    display: flex; */
/*    justify-content: center; */
/*    align-items: flex-start; */
/* } */

/* .tags { */
/*    margin-top: 1em; */
/*    display: flex; */
/*    width: 100%; */
/*    flex-direction: row; */
/*    justify-content: center; */
/*    align-items: stretch; */
/* } */

/* .tags a { */
/*    color: #242429; */
/*    text-decoration: none; */
/*    display: flex; */
/*    flex: 1 0 auto; */
/*    justify-content: center; */
/*    padding: 0.3em; */
/*    border-bottom: 1px solid #aaa; */
/* } */

/* .tags a:hover { */
/*    cursor: pointer; */
/*    border-bottom: 1px solid #242429; */
/* } */

/* .autowidth { */
/*    width: 100%; */
/* } */

/* .install { */
/*    width: 100%; */
/*    background: #24242911; */
/*    padding: 2em; */
/*    box-sizing: border-box; */
/* } */

/* .install .links { */
/*    display: flex; */
/*    flex-direction: column; */
/*    justify-content: center; */
/*    align-items: center; */
/* } */

/* .install .links * { */
/*    margin: 0.1em; */
/* } */

/* code { */
/*    background-color: #24242911; */
/*    padding: 0.4em; */
/*    align-self: center; */
/* } */

/* body > .vertpadd { */ 
/*    padding-top: 2em; padding-bottom: 2em; */
/*    margin-top: 5em; */
/*    margin-bottom: 5em; */
/* } */

/* footer { */
/*    padding: 5em; */
/*    background-color: #242429; */
/* } */


/* @media only screen and (min-width: 115em) { */
/*    .install { */
/*       position: fixed; */
/*       right: 5em; */
/*       width: 20em; */
/*       top: 6em; */
/*    } */
/* } */



/* vars */

:root {
   --base: #242429;
   --shade: #34343911;
}

/* layout */

* {
   /* Sane defaults */
   padding: 0px;
   margin: 0px;
}

header .padd {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

header .nav {
   padding-top: 3em;
   padding-bottom: 3em;
}

.padd {
   width: auto;
   max-width: 60em;
   margin-left: auto;
   margin-right: auto;
}

.hflex {
   display: flex;
   flex-direction: row;
}

.vflex {
   display: flex;
   flex-direction: column;
}

.info {
   justify-content: space-between;
   align-items: center;
   padding-bottom: 0em;
   width: 100%;
   box-sizing: border-box;
}

.content {
   overflow: hidden;
   justify-content: center;
   align-items: center;
   margin-top: 3em;
}

.content-pad {
   padding-bottom: 4em;
}

.tags {
   margin-top: 2em;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: stretch;
}

.tags a {
   display: flex;
   flex: 1 0 auto;
   justify-content: center;
   padding: 0.3em;
   padding-bottom: 2em;
}

.tags.autowidth a {
   border-bottom: 1px solid #24242955;
}

.tags.autowidth a:hover {
   border-bottom: 1px solid #242429aa;
}

.tags.small {
   width: 30%;
}

.project .head {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: baseline;
   margin-bottom: 2em;
}

.autowidth {
   box-sizing: border-box;
   width: 100%;
}

.install {
   width: 100%;
   background: #24242911;
   padding: 2em;
   box-sizing: border-box;
}

.install .links {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.install .links * {
   margin: 0.1em;
}

.project {
   padding-bottom: 4em;
}

body > .vertpadd {
   padding-top: 2em; padding-bottom: 2em;
   margin-top: 2em;
   margin-bottom: 5em;
}

footer {
   padding: 5em;
}

/* Colour / Style */

a {
   color: #242429;
}

footer,
header {
   background-color: #242429;
   color: #eee;
}

header .dir {
   opacity: 0.7;
}

h1, h2, h3, h4, h5, {
   color: #242429;
}

.content,
.info {
   color: #242429cc;
}

a {
   color: #40ADFF;
   text-decoration: none;
}

a:hover {
   cursor: pointer;
   color: #242429;
}

.project {
   border-bottom: 1px solid #aaa;
   text-align: center;
}

.project .head h3 a {
   color: #242429;
}

.project .head h3 a:hover {
   color: #40ADFF;
}

.content img {
   border: 2px solid #24242955;
}


/* Media queries */

@media only screen and (min-width: 115em) {
   .install {
      position: fixed;
      right: 2em;
      width: 20em;
      bottom: 2em;
   }

}
