* {
   padding: none; margin: none;
}

h4 {
   margin: 0px;
   padding: 0px;
}

a {
   text-decoration: none;
}

.v-flex {
   display: flex;
   flex-direction: row;
}

.h-flex {
   display: flex;
   flex-direction: column;
}

#main {
   position: absolute;
   top: 0; left: 0;
   height: 100%;
   width: 100%;
}

#sidebar {
   display: flex;
   flex: 1 0 20%;
   min-width: 10em;
   flex-direction: column;
   justify-content: space-between;
   align-items: stretch;
   text-align: center;
   padding-top: 1em;
   padding-bottom: 1em;
}

#nav {
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
}

#sidebar > *,
#sidebar a {
   padding: 0.5em;
   width: 100%;
   box-sizing: border-box;
   color: #ccc;
}

#sidebar .icons {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   box-sizing: border-box;
}

#sidebar .icons a:hover {
   background-color: #00000000;
   color: #fff;
}

#sidebar .icons a {
   display: flex;
   flex: 1 1 100%;
   justify-content: center;
   max-width: 5em;
   font-size: 1.2em;
}

#sidebar a:hover {
   background-color: #55555555;
   color: #eee;
}

#content {
   display: flex;
   flex: 1 1 70%;
   flex-direction: column;
   padding: 1em;
   margin-left: 1em;
   margin-top: -1em;
   overflow-y: auto;
}

.item {
   flex: 1 1 40%;
   min-width: 30em;
   box-shadow: -5px 0px #0002;
   padding-left: 1em;
   padding-top: 1em;
   margin: 0.5em;
   background: #fff;
}

.item .icon {
   box-sizing: border-box;
   width: 3em;
   border-radius: 100%;
   margin-right: 1em;
}

.item .title .tags,
.item .head {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
}

.item .title .tags a {
   margin-top: 0.5em;
   margin-right: 0.5em;
   opacity: 0.9;
}

.item .title {
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.item a {
   color: #000;
   text-decoration: underline;
}

.item p {
   color: #000e;
}

.item .summary {
   margin-top: 2em;
}

.item:hover {
   box-shadow: -5px 0px #0003;
}

.items {
   display: flex;
   flex-wrap: wrap;
}

#gopher {
   width: 8em;
   position: absolute;
   bottom: 1em;
   right: 1em;
   z-index: -1;
}

/* Colour */

#sidebar {
   background-color: #111111ee;
   color: #FFF;
}
