<div class="icons" class="v-flex">
   <a href="https://gitlab.com/sj1k">
      <i class="fab fa-gitlab"></i>
   </a>
   <a href="https://github.com/Sjc1000">
      <i class="fab fa-github"></i>
   </a>
   <a href="mailto:42Echo6Alpha@gmail.com">
      <i class="fas fa-at"></i>
   </a>
</div>
