<div id="sidebar">

   {{ partial "icons.html" . }}

   <span id="nav">
      <a href="/">/home</a>
      {{ range .Site.Sections }}
         <a href="{{ .URL }}">/{{ lower .Title }}</a>
      {{ end }}
   </span>

   <p>Powered by <a href="https://gohugo.io/">Hugo</a></p>
</div>
